@model string

@{
    ViewBag.Title = "Index";
}

<h2>Task Two</h2>
@using (Html.BeginForm("FormatStringBackwards", "Task2"))
{
  <label for="inputNumber">Please Input a String</label>
  <input type="text" name="inputString" id="inputString" value=""/>
  <input type="submit" name="submit" value="submit" />
}